.palette-controll {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-primary {
    width: fit-content;
}
.border {
    border: 1px solid black;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
}

